<div class="hero-container">
  <div class="hero-action">
    <div class="hero-copy">
      {% if content.hero_text.headline is not empty %}
		  <h1>{{ content.hero_text.headline }}</h1>
	  {% endif %}
      {% if content.hero_text.subhead is not empty %}
       <h2>{{ content.hero_text.subhead ?? '' }}</h2>
      {% endif %}
      {% if content.hero_text.body_copy is not empty %}
        {{ content.hero_text.body_copy }}
      {% endif %}
    </div>
    <div class="hero-btns">
		
      {% if (content.button_s_.quantity == "one") %}
        <!-- Button (Primary) -->
        {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'hero-btn-1', path.to.button_design_preset_section, 'content.button_s_.button_1.text') }}

          {% elseif (content.button_s_.quantity == "one") or (content.button_s_.quantity == "two") %}

        <!-- Button (Secondary) -->
        {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'hero-btn-1', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_1.text') }}

          {{ macros.atomV1ButtonHtml(content.button_s_.button_2, 'hero-btn-2', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_2.text') }}

      {% endif %}
      
    </div>
  </div>
  <div class="hero-media">
    {% if design.hero_media.media_type == 'image' %}
		{{ macros.getMedia(design.hero_media.image, content.content.size, content.content.lazyLoad) }}
    {% elseif design.hero_media.media_type == 'video' %}
      {{ macros.getMedia(design.hero_media.image, content.content.size, content.content.lazyLoad) }}
    {% endif %}
  </div>
</div>