<div class="hero-container">
  <div class="hero-action">
    <div class="hero-copy">
      {% if content.eyebrow.eyebrow is not empty %}
        <div class="eyebrow">{{ content.eyebrow.eyebrow }}</div>
      {% endif %}
      {% if content.headline_s_.headline is not empty %}
        {% if content.headline_s_.headline_tags is not empty %} <{{content.headline_s_.headline_tags}}>{% endif %}
            {{ content.headline_s_.headline }}
        {% if content.headline_s_.headline_tags is not empty %}</{{content.headline_s_.headline_tags}}>{% endif %}
      {% endif %} 
      {% if content.headline_s_.subhead is not empty %}
        {% if content.headline_s_.subhead_tags is not empty %} <{{content.headline_s_.subhead_tags}}>{% endif %}
            {{ content.headline_s_.subhead }}
        {% if content.headline_s_.subhead_tags is not empty %}</{{content.headline_s_.subhead_tags}}>{% endif %}
      {% endif %} 
      {% if content.body_copy.body_copy is not empty %}
      {{ content.body_copy.body_copy }}
      {% endif %}
    </div>
    
    {% if content.button_s_.quantity is not empty %}
      <div class="hero-btns">
        {% if (content.button_s_.quantity == "one") %}

          {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'hero-btn-1', path.to.button_design_preset_section, 'content.button_s_.button_1.text') }}

            {% elseif (content.button_s_.quantity == "one") or (content.button_s_.quantity == "two") %}

          {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'hero-btn-1', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_1.text') }}

            {{ macros.atomV1ButtonHtml(content.button_s_.button_2, 'hero-btn-2', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_2.text') }}

        {% endif %} 
      </div>
   {% endif %} 
  </div>
  {% if (design.media.media_type ?? 'none') == 'none' %}
   {% else %}
    <div class="hero-media">
      {% if design.media.media_type == 'image' %}
        <div class="breakdance-image-clip">
          {{ macros.image(design.media.image, content.content.size, alt, lazyLoad) }}
        </div>
      {% elseif design.media.media_type == 'video' %}
      <div class="video-wrapper">
         {{ macros.video(design.media.video) }}
        <div class="controls">
      <button class="play-button"><img src="https://wilsonlanguage.local/wp-content/uploads/2024/05/btn-video-play.svg" alt="video play button" /></button>
      </div>
        <div class="scrubber-container">
        <input type="range" class="scrubber" min="0" max="1" step="0.001" value="0" />
      </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>