<div class="hero-container {{design.background.color }} {{ design.hero_media.alignment == 'media-left' ? 'left' : '' }} {{ design.hero_media.alignment == 'media-right' ? 'right' : 'none' }}">
  <div class="hero-action">
    <div class="hero-copy">
      {% if content.eyebrow.eyebrow is not empty %}
      	<div class="eyebrow">{{ content.eyebrow.eyebrow }}</div>
      {% endif %}
      {% if content.headline_s_.headline is not empty %}
      	<h1>{{ content.headline_s_.headline }}</h1>
    	{% endif %}
      {% if content.headline_s_.subhead is not empty %}
       <h2>{{ content.headline_s_.subhead }}</h2>
      {% endif %}
      {% if content.body_copy.body_copy is not empty %}
        {{ content.body_copy.body_copy }}
      {% endif %}
    </div>
    
    {% if content.button_s_.quantity is not empty %}
      <div class="hero-btns">
        {% if (content.button_s_.quantity == "one") %}

          {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'hero-btn-1', path.to.button_design_preset_section, 'content.button_s_.button_1.text') }}

            {% elseif (content.button_s_.quantity == "one") or (content.button_s_.quantity == "two") %}

          {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'hero-btn-1', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_1.text') }}

            {{ macros.atomV1ButtonHtml(content.button_s_.button_2, 'hero-btn-2', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_2.text') }}

        {% endif %} 
      </div>
   {% endif %} 
  </div>
  {% if (design.hero_media.media_type ?? 'none') == 'none' %}
   {% else %}
    <div class="hero-media">
      {% if design.hero_media.media_type == 'image' %}
        {{ macros.image(design.hero_media.image, content.content.size, alt, lazyLoad) }}
      {% elseif design.hero_media.media_type == 'video' %}
      <div class="video-wrapper">
        {{ macros.video(design.hero_media.video) }}
        <div class="controls">
      <button class="play-button"><img src="https://wilsonlanguage.local/wp-content/uploads/2024/05/btn-video-play.svg" alt="video play button" /></button>
      </div>
        <div class="scrubber-container">
        <input type="range" class="scrubber" min="0" max="1" step="0.001" value="0" />
      </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>