<div class="wlt-content-container {{ design.overlap.overlap_section_below_ ? 'overlap' : ''}}">
  <div class="wlt-content-action">
    <div class="wlt-content-copy">
      <div class="wlt-headline-container">
        {% if content.headline.include_icon_ %}
          <div class="wlt-icon">{{ macros.image(content.headline.icon, content.content.size, alt, lazyLoad) }}</div>
        {% endif %}
          <div class="wlt-headline">
              {% if content.eyebrow.eyebrow_header_text is not empty %}
                  <div class="eyebrow">{{ content.eyebrow.text }}</div>
              {% endif %}
              {% if content.headline.headline is not empty %}
                {% if content.headline.tags is not empty %} <{{content.headline.tags}}>{% endif %}
                    {{ content.headline.headline }}
                {% if content.headline.tags is not empty %}</{{content.headline.tags}}>{% endif %}
              {% endif %} 
            </div>
      </div>
      {% if content.body_copy.text is not empty %}
        {{ content.body_copy.text }}
      {% endif %}
    </div>
    
    {% if content.button_s_.type is not empty %}
      <div class="wlt-btns {{ content.button_s_.type }}">
        {% if content.button_s_.type == 'pill' %}
          {% if (content.button_s_.quantity == "one") %}

            {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'wlt-btn-1', path.to.button_design_preset_section, 'content.button_s_.button_1.text') }}

              {% elseif (content.button_s_.quantity == "one") or (content.button_s_.quantity == "two") %}

            {{ macros.atomV1ButtonHtml(content.button_s_.button_1, 'wlt-btn-1', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_1.text') }}

              {{ macros.atomV1ButtonHtml(content.button_s_.button_2, 'wlt-btn-2', path.to.button_design_preset_section, 'secondary', 'content.button_s_.button_2.text') }}
          {% endif %}

        {% elseif content.button_s_.type == 'simple-text' %}
          
           {% for item in content.button_s_.links %}
              {{ macros.atomV1ButtonHtml(item.link, 'simple-link', path.to.button_design_preset_section, 'text', 'item.link.text') }}
          {% endfor %}

        {% endif %}
      </div>
   {% endif %} 
  </div>
  {% if (design.media.media_type ?? 'none') == 'none' %}
   {% else %}
    <div class="wlt-media">
       {% if design.media.media_type == 'image' %}
        <div class="img-contain">
          <div class="breakdance-image-clip">
            {{ macros.image(design.media.image, content.content.size, alt, lazyLoad) }}
          </div>
          <div class="pattern"></div>
        </div>
      {% elseif design.media.media_type == 'video' %}
      <div class="video-wrapper">
        {{ macros.video(design.media.video) }}
        <div class="controls">
      <button class="play-button"><img src="https://wilsonlanguage.local/wp-content/uploads/2024/05/btn-video-play.svg" alt="video play button" /></button>
      </div>
        <div class="scrubber-container wlt-content-block">
        <input type="range" class="scrubber" min="0" max="1" step="0.001" value="0" />
      </div>
      <div class="pattern"></div>
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>