{% if content.content.items is empty %}
<div class="wlt-stats-bar_item">
	<h3 data-target='{{ item.number }}' class='wlt-stats-bar_number'>
         {{ item.number }}
    </h3>
    <p class='wlt-stats-bar_text'>
       {{ item.text }}
    </p>
</div>
{% endif %}
{% for item in content.content.items %}
  <div class='wlt-stats-bar_item'>
    <h3 data-target='{{ item.number }}' class='wlt-stats-bar_number' {{ dataContentEditablePropertyPath('content.content.items[' ~ loop.index0 ~ '].number') }}>
     {{ item.number }}
    </h3>
    <p class='wlt-stats-bar_text' {{ dataContentEditablePropertyPath('content.content.items[' ~ loop.index0 ~ '].text') }}>
      {{ item.text | default('students helped') }}
    </p>
  </div>
{% endfor %}